{% extends 'base.html' %}
{% load bootstrap4 %}
{% block title %}Products by Category{% endblock title %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-3">
            <div class="sidebar">
                <ul class="category-list">
                    {% for category in total_categories %}
                        <li><a href="{% url 'products_by_category' category.id %}">{{ category.name }}</a></li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <div class="col-md-9">
            <h1>Products under {{ category.name }}</h1>
            <div class="row">
                {% for product in products %}
                    <div class="col-md-4">
                        <div class="card mb-4">
                            <img src="{{ product.image.url }}" class="card-img-top" alt="Product Image">
                            <div class="card-body">
                                <h5 class="card-title">{{ product.name }}</h5>
                                <p class="card-text">{{ product.price }}</p>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock content %}
